<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340401308963-05u6kaiunlli6t78mmv8qsmbuketr01d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340401308963-05u6kaiunlli6t78mmv8qsmbuketr01d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>340401308963-hqkg12vfa0dqenapf1s7902vgoril3i0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMpSdq6LBmMpejWRa4SqMd3s_10KamsGU</string>
	<key>GCM_SENDER_ID</key>
	<string>340401308963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karimapps.Khinbo.app</string>
	<key>PROJECT_ID</key>
	<string>my-app-d08a4</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-d08a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340401308963:ios:7141d40aeac7afb04af896</string>
</dict>
</plist>